@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat';
  font-style: normal;
}
button:hover
{
  background-color: #180c0cad !important;
  cursor: pointer;
}
/* Header and Home css Start */
ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 7px;
}
.nav-lists{
  padding: 10px 0;
  display: flex;
}
.logo-name h2{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #FDF6F6;
  padding-left: 100px;
}
ul li a{
  padding: 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #FDF6F6;
  text-decoration: none;
}
.search-btn{
  position: absolute;
  right: 175px;
  top: 5px;
}
.search-btn button{
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  background: #F2B138;
  border-radius: 25px;
  padding: 4px 16px;
  border: none;
}
.search-line-btn{
  display: flex;
  gap: 25px;
  align-items: center;
}
.header-img{
  position: absolute;
  top: 75px;
  right: 155px;
}
.menu-bar{
  display: none;
}
.navbar-text{
  width: 750px;
  height: 550px;
  background: #01727D;
  border-radius: 0px 0px 171px 0px;
}
.header-img img{
  height: 550px;
  border-radius: 171px 171px 0px 0px;
}
.home-text h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: -0.015em;
  color: #FDF6F6;
  padding-top: 105px;
  padding-bottom: 28px;
  padding-left: 117px;
}
.home-text p{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #FDF6F6;
  padding-left: 117px;
  padding-bottom: 34px;
}
.see-more-btn{
  padding-left: 117px;
}
.see-more-btn button{
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  background: #F2B138;
  border-radius: 24px;
  padding: 10px 22px;
  border: none;
  display: flex;
  align-items: center;
}
.see-more-btn img{
  padding-left: 8px;
}
.search{
  display: flex;
}
.search input{  
  background: rgba(0, 0, 0, 0.0001);
  border: none;
}
/* Header and Home css End */
  
/* Gallary css Start */

.gallary{
  margin-top: 150px;
  display: grid;
  gap: 25px;  
  padding: 0 150px;
}
.gallary-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.img-2{
  grid-column-start: 3;
  grid-column-end: 5;
}
.img-3{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-4{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}
.img-5{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
}

.qualities{
  display: flex;
  gap: 115px;
  justify-content: center;
  padding: 105px 0;
}
.quality1,.quality2,.quality3,.quality4{
  width: 65.83px;
  height: 65.22px;
  background: #2E2B2B;
  border-radius: 50%;
}
.quality1{
  padding: 10px;
}
.quality2{
  padding: 14px;
}
.quality3{
  padding: 10px;
}
.quality4{
  padding: 15px;
}
.main h2{
  font-weight: 500;
  font-size: 14.8125px;
  line-height: 17px;
  text-align: center;
  color: #2E2B2B;
  padding-top: 10px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* gallary css End */

/* Recommendation css Start */
.recommended{
  background: #E5E5E5;
  padding: 75px 105px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h2{
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -0.015em;
  color: #2E2B2B;
}
.line1{
  padding-bottom: 45px;
}
.view-more{
  display: flex;
  align-items: center;
}
.view-more h3{
  font-weight: 500;
  font-size: 13.7284px;
  line-height: 17px;
  color: #5E5873;
}
/* cards start */

.cards{
  width: 246.95px !important;
  height: 417.34px;
  background: #FFFFFF;
  border: 0.823161px solid #DFDFDF;
  border-radius: 4.93896px;
}
.product-img{
  padding: 16.46px 19px 0 17px;
  position: relative;
}
.view{
  width: 40px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 6px 0px 15px;
  padding: 8px 6.74px 8px 10px;
  position: absolute;
  top: 17px;
  right: 20px;
}
.message{
  width: 51.04px;
  height: 41.16px;
  background: #FDF6F6;
  border-radius: 0px 0px 0px 4.93896px;
  padding: 12.35px 17.28px 17.28px 12.35px;
}
.card-title{
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  align-items: center;
}
.card-title h3{
  font-weight: 500;
  font-size: 13.7284px;
  line-height: 17px;
  color: #5E5873;
}
.rating{
  display: flex;
  align-items: center;
  gap: 4px;
}
.rating p{
  font-weight: 400;
  font-size: 11.5242px;
  line-height: 17px;
  color: #5E5873;
}
.price{
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price h2{
  font-weight: 700;
  font-size: 14.8169px;
  line-height: 17px;
  color: #5E5873;
}
.price p{
  font-weight: 400;
  font-size: 11.5242px;
  line-height: 17px;
  color: #5E5873;
}
.days{
  padding: 7px 20px;
  gap: 8px;
  display: flex;
}
.days p{
  font-weight: 500;
  font-size: 11.5242px;
  line-height: 17px;
  color: #5E5873;
}
.place{
  display: flex;
  padding: 7px 20px;
  gap: 8px;
}
.place p{
  font-weight: 500;
  font-size: 11.5242px;
  line-height: 17px;
  color: #5E5873;
}
.msg-whislist{
  display: flex;
}
.whislist-btn button{
  padding: 11.91px 74.35px 11.7px 73.78px;
  background: #388186;
  border-radius: 0px 0px 4.93896px 0px;
  font-weight: 600;
  font-size: 11.5242px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}
/* Recommendation css End */

/* office sales css Start */
.office-sales{
  display: grid;
  grid-template-columns: auto auto;
  background: #FDF6F6;
  padding-top: 50px; 
}
.office-sales-text{
  margin: auto 0;
  background: #FDF6F6;
}
.office-sales-text h3{
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #2E2B2B;
  padding-bottom: 24px;
}
.office-sales-text p{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 24px;
}
.see-more-btn1 button{
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  background: #F2B138;
  border-radius: 24px;
  padding: 10px 22px;
  border: none;
  display: flex;
  align-items: center;
}
/* Office Sales Css end  */

/* Summer css Start */
  .summer{
    display: grid;
    grid-template-columns: auto auto;
    justify-items:right;
  }
  .summer img,.office-sales img{
    width: 674px;
  }
  .summer .office-sales-text{
    text-align: end;
    margin: auto auto;
  }
  .summer .see-more-btn1{
    padding-left: 250px;
  } 
/* Summer css End */

/* Footer css Start */
  /* join-us */
.join-us{
    background: #01727D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
    padding: 45px 0;
  }
  .join-us-btns{
    display: flex;
    gap: 30px;
  }
  .join-us-btns button{
    padding: 10px 22px;
    background: transparent;
    border-radius: 24px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FDF6F6;
    border: 1px solid #FFFFFF;
  }
  .join-us-btns button:hover{
    background: #F2B138 !important;
  }
  .join-us h2{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.015em;
    color: #FDF6F6;
    padding-bottom: 20px;
  }
  .join-us p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FDF6F6;
  }
  /* join-us */
  /* footer */

    footer{
      background: #2E2B2B;
    }
    footer h1{
      text-align: center;
      font-family: 'Comfortaa';
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -0.015em;
      color: #FDF6F6;
    }
    .footer{
      padding-top: 100px;
    }
    .line2{
      padding-top: 32px;
      padding-bottom: 100px;
    }
    .line2 img{
      width: 100%;
      padding: 0 125px;
    }
    .social-media-icons{
      display: flex;
      justify-content: center;
      gap: 45px;
      padding-bottom: 30px;
    }
    footer h3{
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.015em;
      color: rgba(255, 255, 255, 0.8);
      padding-bottom: 120px;
    }
  /* footer */
  /* Footer css End */




















@media screen and (max-width: 1260px) {
  .header-img{
    display: none;
    position: static;
  }
  .search-btn{
    position: static;
    display: none;
  }
  .navbar-text{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .office-sales{
    grid-template-columns: none;
  }
  .summer{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 25px;
  }
  .summer .office-sales-text{
    margin: 0;
    text-align: start;
  }
  .summer .see-more-btn1{
    padding: 0;
  }
  .line2 img{
    padding: 0;
  }
 
}


@media screen and (max-width: 768px) {
  .home-text h1,.home-text p,.home-text .see-more-btn{
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 0;
  }
  .nav-lists{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 55px;
  }
  .menu-bar{
    display: block;
  }
  .logo-name h2{
    padding-left: 10px;
  }
  .qualities{
    flex-direction: column;
    gap: 25px;
  }
  .gallary{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .recommended{
    padding: 0;
  }
  .title{
    flex-direction: column;
  }
  .line1{
    display: none;
  }
  .office-sales img,.summer img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 440px) {
  .home-text h1{
    font-size: 36px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .home-text p{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .home-text .see-more-btn{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

}


@media screen and (max-width: 992px) {
  .join-us{
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
  }
}
